    html {
        background-color: #DBDBDB;
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        max-width: 1300px;
        margin: 0 auto;
        min-width: 1000px;
    }
    
    .header_wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        height: 300px;
        width: 300px;
        background-repeat: repeat;
        background-size: contain;
        border-radius: 50%;
        border: 2px solid white;
        margin: 30px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .name {
        font-size: 55px;
        padding-top: 100px;
    }
    
    .description {
        font-style: italic;
        font-size: 20px;
    }
    
    ul.contacts {
        list-style: none;
    }
    
    li {
        padding-bottom: 10px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    nav {
        padding-bottom: 50px;
    }
    
    .contacts {
        background-color: whitesmoke;
        display: flex;
        justify-content: space-evenly;
        border-radius: 25px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        border: 2px solid white;
    }
    
    .mail,
    .skype,
    .discord,
    a {
        background-color: whitesmoke;
    }
    
    .mail::before {
        content: url(../img/icons/gmail.svg);
        position: relative;
        top: 5px;
    }
    
    .skype::before {
        content: url(../img/icons/skype.svg);
        position: relative;
        top: 5px;
    }
    
    .discord::before {
        content: url(../img/icons/discord.svg);
        position: relative;
        top: 5px;
    }
    
    .row1,
    .row2 {
        display: flex;
        justify-content: space-between;
    }
    
    .education,
    .about,
    .skills,
    .language {
        width: 290px;
        border: 2px solid white;
        border-radius: 25px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        background-color: whitesmoke;
    }
    
    .education-info,
    .about-info,
    .skills-info,
    .language-info {
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 25px;
    }
    
    li {
        background-color: whitesmoke;
        list-style-position: inside;
    }
    
    .title {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 10px 20px 10px;
        border-radius: 25px 25px 0 0;
        background-color: whitesmoke;
        text-align: center;
    }
    
    .info {
        margin-bottom: 50px;
    }
    
    pre {
        background-color: whitesmoke;
        padding: 15px;
        border: 2px solid white;
        border-radius: 25px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        font-family: 'Roboto', sans-serif;
    }
    
    .code_title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    .code {
        margin-bottom: 50px;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }